<div class="row">
	<div class="col-xs-12">
		<div ng-include="'./pages/main-nav.html'"></div>
	</div>
</div>
<div class="row data">
	<div class="col-xs-12">
		<h2>{{title}}</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<ul class="nav nav-tabs" ng-show="activePath.indexOf('/{{rootPathName}}/category/{{categoryName}}') == 0">
			<li ng-repeat="subcat in subcategoryNames" role="presentation"
				ng-class="{active : activePath.indexOf('/{{rootPathName}}/category/{{categoryName}}/subcategory/{{subcat}}') == 0}"
			>
				<a href="#/{{rootPathName}}/category/{{categoryName}}/subcategory/{{subcat}}">{{subcat}}</a>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default kau-panel">
			<div class="panel-header">
				<ul class="nav nav-pills">
					<li role="presentation" ng-repeat="subcat in actual.children">
						<a href="#/{{rootPathName}}/category/{{categoryName}}/subcategory/{{subcategoryName}}/subsubcategory/{{subcat.name}}/">{{subcat.name}}</a>
					</li>
				</ul>
			</div>
			<div class="panel-header">
				<form class="form-inline kau">
					<div class="form-group form-group-sm">
						<label class="control-label" for="searchString">Search <input class="form-control" id="searchString" type="text" ng-model="searchString"
							placeholder="Filter" ng-change="chartRefresh()"
						/>
						</label>
					</div>
					<div class="form-group form-group-sm">
						<label for="fromYear">From&nbsp;</label> <select ng-model="from" class="form-control" id="fromYear" ng-change="periodChanged()"
							ng-options="yr as yr for yr in years | filterFromYears: to"
						>
						</select>
					</div>
					<div class="form-group form-group-sm">
						<label for="toYear">To&nbsp;</label> <select ng-model="to" id="toYear" class="form-control" ng-change="periodChanged()"
							ng-options="yr for yr in years | filterToYears: from"
						>
						</select>
					</div>
				</form>
			</div>
			<div class="panel-body">
				<br />
				<div google-chart chart="chart" on-ready="chartReady(chartWrapper)" on-select="chartSelectedItem(selectedItems, selectedItem, chartWrapper)"
					on-click="chartClicked(chart)" style="width: 700px; height: 450px;"
				></div>
			</div>
		</div>
	</div>
</div>
