<div class="row rHierarchicalFilterFour">
	<div class="col-xs-3">
		<div class="radio">
			<div class="form-group form-group-sm" ng-repeat="item in levels[0]"
				style="margin: 0px;"
			>
				<label> <input type="radio" ng-model="selection[0]" ng-value="item">
					{{item}}
				</label>
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="radio">
			<div class="form-group form-group-sm" ng-repeat="item in levels[1]"
				style="margin: 0px;"
			>
				<label> <input type="radio" ng-model="selection[1]" ng-value="item">
					{{item}}
				</label>
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="radio">
			<div class="form-group form-group-sm" ng-repeat="item in levels[2]"
				style="margin: 0px;"
			>
				<label> <input type="radio" ng-model="selection[2]" ng-value="item">
					{{item}}
				</label>
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="radio">
			<div class="form-group form-group-sm" ng-repeat="item in levels[3]"
				style="margin: 0px;"
			>
				<label> <input type="radio" ng-model="selection[3]" ng-value="item">
					{{item}}
				</label>
			</div>
		</div>
	</div>