.tab-pane {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-radius: 0px 0px 5px 5px;
	padding: 10px;
}

.nav-tabs {
	margin-bottom: 0;
}

body {
	margin-left: 15px;
}

.list_link_kau a:link {
	font-family: Arial;	
	font-size: 12px;
}